/* ==========================
   1. NAVIGATION BAR
   ========================== */
nav ul {
    display: flex;
    justify-content: space-between;
   list-style-type:none;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    position: relative;
    z-index: 1000;
    height: 70px;
}
.name {
    height: 50px !important;
    width: auto !important;
} 
/* ==========================
   3. INTRO SECTION
   ========================== */
.intro {
    background-color: white;
    color: Black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 40px 20px;
    box-sizing: border-box;
}

.intro h1 {
    margin: 0 0 20px 0;
   color: black;
   font-weight: bold;
}

.intro p {
    max-width: 800px;
    margin-top: 20px;
}
/* ==========================
   6. FORMS
   ========================== */
form {
    max-width: 500px;
    margin: 20px auto;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
}

button {
    margin-top: 16px;
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}
/* ==========================
   left and right
   ========================== */

.container {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 45%;
  text-align: center;
  height: 100%;
}

.right {
  width: 45%;
  text-align: center;
}
/* ==========================
   Resume
   ========================== */

.container {
  display: flex;
  justify-content: space-between;
}
.left2 {
  width: 65%;
  text-align: center;
  height: 100%;
}

.right2 {
  width: 25%;
  text-align: center;
}
  .container2 {
  display: flex;
  justify-content: space-between;
}
.left3 {
  width: 65%;
  text-align: center;
  height: 100%;
}

.right3 {
  width: 25%;
  text-align: center;
}
.div1{
   width: 100%;
   text-align:center;
   background-color: grey;
}
.skill{
     width: 33%;
  text-align: center;
   background-color:lightyellow;
}
.div2{
   text-align:center;
}
