/* ==========================
   1. NAVIGATION BAR
   ========================== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    position: relative;
    z-index: 1000;
    height: 70px;
}
